:root{
    --light-gray:#F5F1F1;
}

.sidebar{
    width: 15rem;
    border-right: 1px solid var(--black);
    padding: 1.5rem;
}

.filter-tab{
    display: flex;
    justify-content: space-between;
}

.filter-box{
    display: flex;
    flex-direction: column;
}

.f-box-heading{
    margin-bottom: -0.1rem;
}

.price-range{
    display: flex;
    justify-content: space-between;
}

.filter-item{
    margin-bottom: -0.5rem;
}

.checkboxes{
    display: flex;
    flex-direction: column;
}

/* main */

.main-content{
    display: flex;
}

.f-7{
    font-size: 1rem;
    font-weight: 400;
}
.products{
    width: 85vw;
    background-color: var(--light-gray);
}

.ecom-card{
    width: 16rem;   
    margin: 3rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.image-box{
    display: flex;
    justify-content: center;
}

.ecom-img{
    height: 10rem;
    width: 50%;
} 

.icon{
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}

.card-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: fit-content;
}

.card-disp{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
}

.heading{
    font-size: 1.5rem;
    font-weight: 600;
}

.price{
    margin-top: 0.3rem;
    font-weight: 600;
}


/* Footer */
.footer-box{
    border-top: 1px solid var(--black);
}