html{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.footer-box{
    margin-top: auto;
}

.wishlist-disp{
    display: flex;
    flex-wrap: wrap;
}

.icon{
    color: red;
}